# **First Jupyter Notebook**
## I really love markdown

In [5]:
print("This is my first notebook.")

This is my first notebook.

In [15]:
INTEGER=12

In [7]:
#sets print = 12
print(INTEGER)

12

In [13]:
#sets FLOAT_PT=12
FLOAT_PT=12.0

In [16]:
#prints both INTEGER and FLOAT_PT
print (INTEGER, FLOAT_PT)

12 12.0

In [19]:
STRING="The integer is"

In [20]:
print (STRING)

The integer is

In [22]:
#print the integer is 12 using variable name
print(STRING, INTEGER)

The integer is 12

In [23]:
print ("The sum is", INTEGER + FLOAT_PT)

The sum is 24.0

In [27]:
STRING2= 'This is a string.\n\n\n'
STRING3="This is \t\t\t also a string."
print(STRING2)
print(STRING3)

This is a string.



This is 			 also a string.

In [28]:
print (STRING)

The integer is

In [31]:
print(STRING.lower())

the integer is

In [33]:
print (f"The interger is {INTEGER}, my favorite integer.")

The interger is 12, my favorite integer.

In [55]:
FIRST="Eli"
LAST="Valerius"
AGE=21

In [69]:
COMBINED=f"my name is {FIRST} {LAST} and I am {AGE} years old"
print (COMBINED)

my name is Eli Valerius and I am 21 years old

print(COMBINED.upper())

Creating my very first list, which is analogous to an array in bash. List, like arrays, are zero-based

In [96]:
#create list
STUDENTS=['Elie', 'John', 'Diddy']

In [79]:
#set who is in the list on index 2 (remember 0 based)
print(STUDENTS[2])

Diddy

In [83]:
#see all students on list
print(STUDENTS)

['Elie', 'John', 'Diddy']

In [86]:
#create nested list
MY_NEST=[[1, 2, 3, 4], ['Eli', 'has', 'a', 'party'], ['Coding', 'is', 'life']]

In [90]:
#indexing into nested list
print(MY_NEST[0])
print(MY_NEST[1])
print(MY_NEST[2])

[1, 2, 3, 4]
['Eli', 'has', 'a', 'party']
['Coding', 'is', 'life']

In [93]:
#indexing into individual element in nexted list
print("Codiing is making me question my",MY_NEST[2][2])

Codiing is making me question my life

Lists are mutable. We can change things in our list. I want to add elements to my list. I will use a method called append to do this.

In [94]:
print(STUDENTS)

['Elie', 'John', 'Diddy']

In [95]:
#the append method
STUDENTS.append('Kendrick')
print(STUDENTS)

['Elie', 'John', 'Diddy', 'Kendrick']

#we can remove elements from a list. Use pop method
**listname.pop**(#)

In [97]:
STUDENTS.pop(2)

'Diddy'

In [98]:
print(STUDENTS)

['Elie', 'John']

In [100]:
POPPED=STUDENTS.pop(1)

sometimes you want to reverse stuff. Use reverse method. reverse()

In [101]:
STUDENTS.reverse()

In [102]:
print(STUDENTS)

['Elie']

In [103]:
BOLOGNA='oscar' #new string variable
BOLOGNA_LIST=[] #creates empty list

In [104]:
print(BOLOGNA)
print(BOLOGNA_LIST)

oscar
[]

In [109]:
#loops through string to crreate a list
for CHAR in BOLOGNA: #for varialbe character in cariable bologna
    BOLOGNA_LIST.append(CHAR)
#list indent to get ouf of loop

print("My bologna has a first name. It's", BOLOGNA_LIST, "."

SyntaxError: incomplete input (714752462.py, line 6)